body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

nav {
  display: flex;
  align-items: center;
  background: #333;
  padding: 10px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
    nav .navbar-nav {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-bottom: 0;
       padding: 0;
    
        nav button {
            margin-left: auto;
        }

        ul li {
            padding: 5px;
        }

        ol li {
            padding: 5px;
        }
        }

        h1 {
            margin: 20px;
        }

        form {
            margin: 20px;
            display: flex;
            flex-direction: column;
            max-width: 300px;
        }

            form input {
                margin-bottom: 10px;
                padding: 8px;
            }

        button {
            padding: 10px;
            background: #444;
            color: white;
            border: none;
        }

        footer {
            color: white;
            background: #333;
            text-align: center;
            padding: 10px;
            position: flex;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        .box {
            border: 2px solid #555;
            padding: 15px;
            margin: 20px 0;
            box-shadow: 2px 2px 5px #777;
        }

        #firstSection {
            margin-top: 0px;
            display: flex;
            z-index: 2;
            align-items: center;
            justify-content: space-between;
            position: relative;
            padding: 20px;
            object-fit: cover;
        }


        .photo {
            border-radius: 10px;
        }

        .dark-mode {
            background-color: #4b4b4bff !important; /* The dark grey you wanted */
            color: #969dffff !important;
        }

            .dark-mode input,
            .dark-mode select,
            .dark-mode textarea {
                background-color: #666;
                color: white;
                border: 1px solid #999;
            }

            .dark-mode a {
                color: #b0b5ff;
            }
    
